<?xml version="1.0"?>
<RuleSet Name="Analyzer Rules for Loom.Tests.*" ToolsVersion="15.0">
  <Include Path="Loom.ruleset" Action="Default" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1201" Action="None" /> <!-- Elements must appear in the correct order -->
    <Rule Id="SA1300" Action="None" /> <!-- Element must begin with upper case letter -->
  </Rules>
</RuleSet>
